    .project-image-wrapper {
            position: relative;
            background-color: #0a192f;
            border-radius: 4px;
            overflow: hidden;
            cursor: zoom-in;
            display: block;
            aspect-ratio: 16 / 10;
            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
        }
